FSECplotter/.DS_Store
.DS_Store
FSECplotter/__pycache__/
FSECplotter/pyqt/__pycache__/
__pycache__/
osx_build/build/
osx_build/dist/
win_build/build/
win_build/dist/
test/*.png
test/fixture/*.png
test/fixture/shimadzu/*.png
test/fixture/hitachi/*.png
.coverage
cover/
.python-version
.*.swp
versions/
*.sublime-project
*.sublime-workspace
*~
