FSECplotter/.DS_Store
.DS_Store
FSECplotter/__pycache__/
FSECplotter/pyqt/__pycache__/
__pycache__/
osx_build/
win_build/
test/*.png
test/fixture/*.png
test/fixture/shimadzu/*.png
test/fixture/hitachi/*.png
.coverage
cover/
.python-version
.*.swp
